<h3>Customer - edit form</h3>

<form name="eform" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">CompanyName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="obj.CompanyName" placeholder="(no value)" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">ContactName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="obj.ContactName" placeholder="(no value)" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">ContactTitle</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="obj.ContactTitle" placeholder="(no value)">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="obj.Address" placeholder="(no value)">
        </div>
    </div>
</form>